.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  flex-direction: row;
  font-family: "JalnanGothic";
}

.navbar-custom {
  font-size: large;
}

.navbar__link {
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-indent: 0.3em;
  border-bottom: 3px solid transparent;
}

.navbar__link::after {
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0;
  content: "";
  display: block;
  margin-top: 2px;
  height: 3px;
  width: 0;
}

.navbar__link:hover::after {
  visibility: visible;
  width: 40%;
}

.navbar__link--active::after {
  transition: all ease-in-out 0.2s;
  width: 100%;
}

.navbar__link--active:hover::after {
  width: 100%;
}

.MainApp {
  margin-top: 8vh;
  height: 90vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  img {
    width: 500px;
  }

  .card-img-top {
    width: 100%;
  }
}

.Typewriter {
  display: inline-block;
}

.Typewriter__wrapper {
  font-size: xx-large;
  font-weight: bold;
}

.Typewriter__cursor {
  font-size: xx-large;
  font-weight: bold;
}

section.timeline-card-content {
  justify-content: center;
}

section.timeline-card-content p.card-title {
  font-size: 1.5em;
  margin-top: 25px;
}

section.timeline-card-content p.card-sub-title {
  font-size: 1.25em;
  margin-top: 10px;
}

section.timeline-card-content div.card-description > p {
  font-size: 1.1em;
  margin-top: 10px;
  font-weight: 500;
}

.social {
  position: relative;
  margin-top: 60px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .navbar__link {
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-size: 0.9em;
    cursor: pointer;
    letter-spacing: 0.1em;
    text-indent: 0.2em;
  }
}

@media (max-width: 768px) {
  .navbar__link::after {
    background: none;
    content: "";
    display: none;
    margin-top: 0;
    height: 0;
    width: 0;
  }

  .navbar__link--active::after {
    width: 0;
  }

  .navbar__link--active:hover::after {
    width: 0;
  }

  .navbar__link:hover::after {
    width: 0;
  }
}
@media (max-width: 480px) {
  .section-content-container {
    img {
      width: 80vw;
    }
    .card-img-top {
      width: 100vw;
    }
  }
}

.header {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 25px;
  padding-top: 40px;
}

.about-detail {
  margin: 0;
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li {
      display: flex;
      justify-content: center;
      width: 33.33333%;
      height: 85px;
      margin-bottom: 20px;
      i {
        font-size: 60px;
        display: block;
        width: 100px;
      }
      p {
        width: calc(100% - 100px);
        strong {
          font-size: 10px;
          font-weight: 700;
          display: block;
          margin-bottom: 5px;
        }
        em {
          font-size: 15px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    ul {
      li {
        width: 50%;
        margin-bottom: 15px;
        height: 60px;
        i {
          font-size: 32px;
          width: 90px;
        }
        p {
          line-height: 1;
          width: calc(100% - 90px);
          strong {
            font-size: 16px;
          }
          em {
            font-size: 12px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 480px) {
    ul {
      li {
        width: 50%;
        height: 12.5vw;
        margin-bottom: 3.125vw;
        i {
          font-size: 6.6667vw;
          width: 18.75vw;
        }
        p {
          line-height: 1;
          width: calc(100% - 18.75vw);
          strong {
            font-size: 3.3333vw;
            margin-bottom: 1.0417vw;
          }
          em {
            font-size: 2.5vw;
          }
        }
      }
    }
  }
}
